@import 'styles.css';

body, html {
  background-color: var(--quiz-bg-color);
  color: #fff;
}

h1.world-flags-quiz-title {
  margin: 15px 20px;
  font-size: 2rem;
  font-family: var(--ff-Fira-Sans);
  z-index: 5;
}

h1.world-flags-quiz-title a {
  text-decoration: none;
  color: #ffffff;
}

div.results-box {
  position: absolute;
  z-index: 9998;
  display: none;
  opacity: 0;
  border: 1px solid #ffffff0f;
  background-color: #0f141d;
  width: 800px;
  height: 580px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.3rem;
  align-items: center;
  flex-direction: column;
  padding: 1rem 2rem;
  font-family: var(--ff-Fira-Sans);
}

div.results-box h4.modal-title {
  font-size: 1.3rem;
  margin-bottom: 5rem;
  opacity: 0.9;
}

div.results-box span.modal-text {
  font-size: 1.5rem;
}

div.results-box div.results-container {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
}

div.results-box div.result-stat-container {
  margin: 0 2.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

div.results-box span.result-subtitle {
  font-size: 1.5rem;
}

div.results-box span.result-stat {
  font-family: var(--ff-Ubuntu);
  font-weight: bold;
  margin: 5px 0;
  font-size: 2.4rem;
}

div.results-box div.quiz-game-mode-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

div.results-box span.quiz-game-mode-subtitle {
  margin-top: 1rem;
  font-size: 1.5rem;
}

div.results-box span#quizGameMode {
  margin: 10px 0;
  font-weight: bold;
  font-size: 1.5rem;
}

div.results-box div.results-box-btn-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

div.results-box button.results-box-btn {
  border-radius: 0.8rem;
  border: none;
  font-size: 1.55rem;
  padding: 12px 35px;
  margin: 0 10px;
  cursor: pointer;
  color: #0F141D;
  font-family: var(--ff-Ubuntu);
  transition: transform 0.3s;
}

div.results-box button.results-box-btn:hover {
  transform: scale(1.04);
}

button#resultsResetBtn {
  background-color: #2dd74c;
  border: 1px solid #2dd74c;
}

button#resultsOtherModesBtn {
  background-color: #0F141D;
  color: #ffffffe1;
  border: 1px solid #ffffffe1;
}

div.quiz-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  opacity: 0;
}

div.quiz-flag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 960px;
  min-height: 450px;
  max-height: 640px;
}

div.quiz-stats-container {
  display: flex;
  padding-bottom: 2rem;
}

div.quiz-stats-container span.quiz-stat {
  font-size: 1.4rem;
  font-family: var(--ff-Fira-Sans);
  width: 120px;
  text-align: center;
}

div.flag-image-container {
  width: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.flag-image-container img.flag {
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
}

/* Irregular Flag */
div.flag-image-container img.flag[data-name="Nepal"] {
  width: 320px;
}

/* 1:1 Aspect Ratio */
div.flag-image-container img.flag[data-name="Vatican City"] {
  width: 450px;
}

div.flag-image-container img.flag[data-name="Belgium"] {
  width: 450px;
}

div.flag-image-container img.flag[data-name="Switzerland"] {
  width: 450px;
}

div.flag-image-container img.flag[data-name="Niger"] {
  width: 450px;
}

div.quiz-options-container {
  width: 960px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.options-container {
  display: grid;
  grid-template-columns: 440px 440px;
  grid-gap: 15px;
}

div.options-container div.quiz-option {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10161f;
  font-family: var(--ff-Fira-Sans);
  font-size: 1.7rem;
  padding: 18px 25px;
  min-height: 70px;
  width: 440px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: 1px solid #ffffff16;
  cursor: pointer;
  border-radius: 0.3rem;
  user-select: none;
}